@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.14s ease;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #646464b9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.underline-hover {
  position: relative;
}

.underline-hover::after {
  content: '';
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: slategray;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.thick-bordering {
  border: 0.3px solid;
}

/*
animation of pages behind
*/

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  overflow: hidden;
  transform-origin: bottom;
  z-index: 100;
}
.slide-out {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

/**
    parallax animations 
*/

.parallax-container {
  width: 100%;
  height: 200vh;
  margin-top: 10vh;
  margin-bottom: 100vh;
  position: relative;
  .sticky {
    position: sticky;
    top: 0px;
    overflow: hidden;
    height: 100vh;
    .element {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .image-component {
        width: 25vw;
        height: 25vh;
        position: relative;
        .image {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }
      }
      &:nth-of-type(2) {
        .image-component {
          top: -30vh;
          left: 6.5vw;
          width: 20vw;
          height: 35vh;
          margin-bottom: 2rem;
        }
      }
      &:nth-of-type(3) {
        .image-component {
          top: -30vh;
          right: 20vw;
          width: 30vw;
          height: 35vh;
          margin-bottom: 2rem;
        }
      }
      &:nth-of-type(4) {
        .image-component {
          top: -25vh;
          right: -28vw;
          width: 20vw;
          height: 45vh;
          margin-bottom: 2rem;
        }
      }
      &:nth-of-type(5) {
        .image-component {
          top: 20vh;
          left: -25vw;
          width: 20vw;
          height: 55vh;
          margin-bottom: 2rem;
        }
      }
      &:nth-of-type(6) {
        .image-component {
          top: 32vh;
          width: 25vw;
          height: 28vh;
          margin-bottom: 2rem;
        }
      }
      &:nth-of-type(7) {
        .image-component {
          top: 20vh;
          left: 28vw;
          width: 20vw;
          height: 44.5vh;
          margin-top: 1rem;
        }
      }
    }
  }
}
